<!DOCTYPE html>
<html>
<head>

  <!-- Add icon library -->
  <title > الصفحة غير موجودة </title>
  <meta charset="utf-8">
  <link rel="icon" href="logo.png" type="image/gif">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
<link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
  font-size: 15px;
  font-family: 'Cairo', sans-serif;
  ;margin-top: 8%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.637)), url("https://www.hafryat.com/sites/default/files/%D8%A5%D8%AD%D8%B5%D8%A7%D8%A1%20%D8%B1%D8%B3%D9%85%D9%8A%2C%20%D8%A7%D9%84%D8%A3%D8%AF%D8%A8%2C%20%D8%A7%D9%84%D8%AB%D9%82%D8%A7%D9%81%D8%A9%20%D9%88%D8%A7%D9%84%D8%A3%D8%AF%D8%A8%2C%20%D8%A7%D9%84%D8%B9%D9%84%D9%88%D9%85%20%D8%A7%D9%84%D8%AA%D8%B7%D8%A8%D9%8A%D9%82%D9%8A%D8%A9%2C%20%D8%A7%D9%84%D9%81%D9%86%D9%88%D9%86%2C%20%D8%A7%D9%84%D9%83%D8%AA%D8%A8%20%D8%A7%D9%84%D9%85%D9%86%D8%B4%D9%88%D8%B1%D8%A9%2C%20%D8%AA%D9%82%D8%A7%D8%B1%D9%8A%D8%B1%2C%20%D8%B3%D8%A7%D9%85%D8%AD%20%D9%81%D8%A7%D9%8A%D8%B2%2C%20%D8%B5%D9%86%D8%A7%D8%B9%D8%A9%20%D8%A7%D9%84%D9%83%D8%AA%D8%A7%D8%A8.jpg");
  height: 90%;
  
position: relative;
}
 
* {box-sizing: border-box;}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.btn1 {
  background-color: rgb(72, 199, 110);
  color: white;
  padding: 15px 20px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;

}

.btn:hover {
  opacity: 1;
  background-color: rgb(82, 167, 252);
}
.btn1:hover {
  opacity: 1;
  background-color: rgb(164, 248, 185);
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin: auto;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
  font-family: arial;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
.title {
  color: grey;
  font-size: 18px;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {position: relative;

  padding-bottom: 6rem;
  min-height: 100%;

}

.demo {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
}

.demo h1 {
  margin-top: 0;
}

/**
 * Footer Styles
 */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
p {
    font-family: 'Cairo', sans-serif;
  }
  a {
    font-family: 'Cairo', sans-serif;
  }
</style>
</head>
<body dir="rtl">

        <div class="card">
              
                <h1 style="font-size: 60px">404</h1>
              
                <p>نعتذر صفحة الرابط غبر موجودة </p>
                
                <a href="/">العودة الى الصفحة الرئيسية</a>
 
</body>
</html>
