<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Add icon library -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/forgot.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
</head>
<style>
body {
  margin-top: 3%;


 
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.637)), ;

  
position: relative;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {


  min-height: 100%;

}

.demo {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
}

.demo h1 {
  margin-top: 0;
}

/**
 * Footer Styles
 */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-top: 10%; 
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
</style>
<body dir="rtl">
 
 <div class="container" style="padding-top: 2%;width: 300px;  font-family: 'Cairo', sans-serif;">
    <div style="background-color: #fff;padding:15%; box-shadow: 1px 1px 8px #555;" class="card">
    <h3 style="text-align: center; ">استعادة حسابك </h3><br><br>
    <% errors.forEach(function(error) { %>
    <div class="alert alert-danger" role="alert">
    <%= error %>
    </div>
    <% }) %>
    <% infos.forEach(function(info) { %>
    <div class="alert alert-info" role="alert">
    <%= info %>
    </div>
    <% }) %>
    
  
<form action="/forgot" method="post">



  <div class="input-container">
    <i class="fa fa-envelope icon"></i>
    <input class="input-field" type="text" placeholder="البريد الإلكتروني" name="email">
  </div>
  
 

  <button type="submit" class="btn">ارسال</button>
</form>
<a href="/">الصفحة الرئيسية</a>
  </div>
</div>
    
    

</body>
</html>
