body {
    font-family: 'Cairo', sans-serif;
  }
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;

}

th, td {
  text-align: right;  padding: 8px;

}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  rgb(73, 73, 73);
}

li {
  float: left;
  font-size: 20px
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:  rgb(114, 114, 114);
  color: #f2f2f2;
  text-decoration: none
}
.activee  {
  background-color: rgb(73, 73, 73);
  color: #f2f2f2;
  text-decoration: none
}