.certificate {
    direction: rtl;
    width: 300px;
    height: 300px;
    display: inline-block;
}

.certificate img {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
}

.certificate-exam {

}


.certificate-name {

}
