.nav
    display: grid
    grid-template-columns: 1fr 2fr
    background: black
    color: white
    h2
        padding: 5px 40px
    .menu
        direction: ltr
        float: left
        ul
            list-style: none
            li 
                float: left
                padding: 10px 40px